.Car {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: all .3s ease;
    border: 1px solid #ccc;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
    &:hover {
        border: 1px solid #aaa;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
        cursor: pointer;
    }
}

.input {
    border: 1px solid;
}

.input:active,
.input:focus {
    outline: none;
}

.input.green {
    border-color: green;
}

.input.red {
    border-color: red;
}

.input.bold {
    border-width: 2px;
    font-weight: bold;
}